body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
*{
    h2{
        font-family: times new roman;
        font-weight: bold;
        text-align: center;
        color: #002060;
    }
    p{
        font-family: times new roman;
        text-align:justify;
        font-size: 1rem;
    }
    .card{
        padding: 2rem;
        display: grid;
        justify-items: center;
        justify-content: center;
        text-align: center;
        flex: 1 1 25px;
        
    }
    .section{
        padding: 2rem;
        display: flex;
        gap: 4rem;
        border-top: solid 2px black;
        justify-content: center;
        flex-wrap: wrap;
    }
    img{
        height: 450px;
        max-width: 100%;
        border-radius: 0.5rem;
    }
}

header {
    background-color:gold;
    color: white;
    padding: 20px;
    display: flex;
    justify-content:space-between;
    position: fixed;
    z-index: 2;
    width: 100%;
}
.menu{
    display: flex;
    gap: 2rem;
    
}
.menu a {
    text-decoration: none;
    color: #002060;
    font-weight: bold;  
}
.menu-item{
    padding: 10px;
    border-radius: 0.3rem;
}
.menu-item:hover{
    background-color: white;
}
.hero-image{
    background-image: url(../images/bg.jpg);
    background-size:cover;
    width: 100%;
    height: 400px; 
    border: 1px solid red;
    display: flex;
    justify-content:center ;

   
}
.profile-pic{
    display: flex;
    justify-content: center;
    padding: 1rem;
    position: relative;top: 70%;
   

}
.profile-pic img{
    max-width: 25%;
    height: 200px;
    border-radius: 100%;
    position:relative;
    z-index: 1;

}
.name-content{
    background-color: white;
    border: 1px solid black;
    padding: 1rem;
    text-align: center;
    max-width: 100%;
    height:150px ;
    position: relative;right: 10%;
    border-radius: 0.5rem;

}
.name-content p{
    padding-left: 5rem;

}
.sec{
    display: flex;
    gap: 1rem;
    flex-direction: column;

}
.sec img{
    height: 450px;
    max-width: 100%;
    margin: 2rem;
}
.who-weare{
    margin-top: 6rem;
    padding: 2rem;
    
}
.who-weare h2{
    text-align: left;
}
.section img{
    height: 450px;
    max-width: 100%;

}
.calltoaction{
    display: grid;
    box-shadow: 0 0 4px black;
    padding: 4rem;
    justify-items: center;
}
.card img{
    height: 50px;
    width: 50px;
}

a button{
    padding: 10px;
    background-color: goldenrod;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
}

/* past projects */
.Our-gallery{
    display: grid;
    max-width: 100%;
    height: 450px;
}
.gallery-content{
    display: grid;
    box-shadow: 1px 2px 8px black;
    margin: 2rem;
}
.pics{
    display: flex;
    gap: 2rem;
    margin: 2rem;
}

 /* Responsive adjustments */
 @media (max-width: 768px) {
    .card {
      flex-direction: column;
      align-items: center;
    }
    .pics{
        flex-direction: column;
        align-items: center;
    }
   
  }
  